# DX 704 Week 1 Project

This week's project will build a portfolio risk and return model, and make investing recommendations for hypothetical clients.
You will collect historical data, estimate returns and risks, construct efficient frontier portfolios, and sanity check the certainty of the maximum return portfolio.

The full project description and a template notebook are available on GitHub at the following link.

https://github.com/bu-cds-dx704/dx704-project-01

Feel free to use optimization tools or libraries (such as CVXOPT or scipy.optimize) to perform any calculations required for this mini project.

### Example Code

You may find it helpful to refer to these GitHub repositories of Jupyter notebooks for example code.

* https://github.com/bu-cds-omds/dx601-examples
* https://github.com/bu-cds-omds/dx602-examples
* https://github.com/bu-cds-omds/dx603-examples
* https://github.com/bu-cds-omds/dx704-examples

Any calculations demonstrated in code examples or videos may be found in these notebooks, and you are allowed to copy this example code in your homework answers.

## Part 1: Collect Data

Collect historical monthly price data for the last 24 months covering 6 different stocks.
The data should cover 24 consecutive months including the last month that ended before this week's material was released on Blackboard.
To be clear, if a month ends between the Blackboard release and submitting your project, you do not need to add that month.

The six different stocks must include AAPL, SPY and TSLA.
At least one of the remaining 3 tickers must start with the same letter as your last name (e.g. professor Considine could use COIN).
This is to encourage diversity in what stocks you analyze; if you discuss this project with classmates, please make sure that you pick different tickers to differentiate your work.
Do not pick stocks with fewer than 24 consecutive months of price data.

In [128]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/python/3.12.1/lib/python3.12/site-packages (0.2.65)
Requirement already satisfied: pandas>=1.3.0 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (2.3.1)
Requirement already satisfied: numpy>=1.16.5 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (2.3.1)
Requirement already satisfied: requests>=2.31 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (2.32.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/codespace/.local/lib/python3.12/site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (6.32.0)
Requirement already satisfied: websockets>=13.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from yfinance) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.1)
Requirement already satisfied: cffi>=1.12.0 in /home/codespace/.local/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /home/codespace/.local/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (2025.7.9)
Requirement already satisfied: pycparser in /home/codespace/.local/lib/python3.12/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.5.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [129]:
# YOUR CHANGES HERE
import yfinance as yf
import pandas as pd

#AAPL is Apple, SPE is SPDER S&P 500 ETF Trust, TSLA is Tesla
#SIMO is Silicon Motion Technology
#SIRI is Sirius XM Holdings
#AU is AngloGold Ashanti Ltd, mining company
tickers = ["AAPL", "SPY", "TSLA", "SIMO", "SIRI", "AU"] 

data = yf.download(tickers, period="24mo", interval="1d", auto_adjust=False)

adj_close = data['Adj Close']

# Get last trading day of each month
monthly_last = adj_close.resample('M').last()

# Drop Sept. 2025
monthly_last = monthly_last.iloc[:-1]  

print("Data covers from:", monthly_last.index[0].date(), "to:", monthly_last.index[-1].date())

print(monthly_last)

[*********************100%***********************]  6 of 6 completed

Data covers from: 2023-09-30 to: 2025-08-31
Ticker            AAPL         AU       SIMO       SIRI         SPY  \
Date
2023-09-30  169.549271  14.832230  48.000607  41.959274  417.865631
2023-10-31  169.113525  16.747274  50.182880  39.731346  408.794373
2023-11-30  188.355316  18.070910  55.545036  43.682831  446.135223
2023-12-31  190.913681  17.545212  57.878307  51.056644  466.503662
2024-01-31  182.851913  16.540752  59.493645  47.509743  473.933411
2024-02-29  179.461258  17.470110  67.357872  41.476887  498.666504
2024-03-31  170.257339  21.196465  73.209694  36.409576  514.973877
2024-04-30  169.115540  21.950750  70.231445  27.588699  494.210327
2024-05-31  191.138153  23.096506  74.775757  26.696661  519.207336
2024-06-30  209.401932  23.994013  77.552681  26.791327  537.525024
2024-07-31  220.795654  26.810661  66.492882  32.660805  544.033997
2024-08-31  227.939163  28.534407  61.397671  31.414518  556.745667
2024-09-30  231.920639  25.610758  58.664383  22.582169  568.439941
2024-10-31  224.863480  26.735979  51.971199  25.456263  563.367371
2024-11-30  236.490479  23.985445  51.748482  26.003939  596.962891
2024-12-31  249.534180  22.196632  52.704079  21.999622  582.599915
2025-01-31  235.165192  29.053738  53.250137  23.167147  598.246399
2025-02-28  241.249481  28.342062  55.211422  23.586615  590.651794
2025-03-31  221.587616  36.474598  49.759174  21.987522  557.741150
2025-04-30  211.981125  41.426971  48.715961  20.885710  552.905457
2025-05-31  200.622314  43.170788  60.800472  21.405313  587.652771
2025-06-30  204.937408  44.905109  74.679268  22.678967  617.849976
2025-07-31  207.334702  45.575188  76.040329  20.852407  632.080017
2025-08-31  232.139999  56.660000  79.680000  23.639999  645.049988

Ticker            TSLA
Date
2023-09-30  250.220001
2023-10-31  200.839996
2023-11-30  240.080002
2023-12-31  248.479996
2024-01-31  187.289993
2024-02-29  201.880005
2024-03-31  175.789993
2024-04-30  183.279999
2024-05-31  178.080002
2024-06-30  197.880005
2024-07-31  232.070007
2024-08-31  214.110001
2024-09-30  261.630005
2024-10-31  249.850006
2024-11-30  345.160004
2024-12-31  403.839996
2025-01-31  404.600006
2025-02-28  292.980011
2025-03-31  259.160004
2025-04-30  282.160004
2025-05-31  346.459991
2025-06-30  317.660004
2025-07-31  308.269989
2025-08-31  333.869995

/tmp/ipykernel_53785/4138594810.py:16: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_last = adj_close.resample('M').last()

Save the data as a TSV file named "historical_prices.tsv" and include a header row with the column names "date" and the 6 stock ticker symbols.
The date should be the last trading day of the month, so it may not be the last day of the month.
For example, the last trading day of November 2024 was 2024-11-29.
The remaining columns should contain the adjusted closing prices of the corresponding stock tickers on that day.

In [130]:
# YOUR CHANGES HERE

monthly_last

Ticker,AAPL,AU,SIMO,SIRI,SPY,TSLA
Date,,,,,,
2023-09-30,169.549271,14.832230,48.000607,41.959274,417.865631,250.220001
2023-10-31,169.113525,16.747274,50.182880,39.731346,408.794373,200.839996
2023-11-30,188.355316,18.070910,55.545036,43.682831,446.135223,240.080002
2023-12-31,190.913681,17.545212,57.878307,51.056644,466.503662,248.479996
2024-01-31,182.851913,16.540752,59.493645,47.509743,473.933411,187.289993
2024-02-29,179.461258,17.470110,67.357872,41.476887,498.666504,201.880005
2024-03-31,170.257339,21.196465,73.209694,36.409576,514.973877,175.789993
2024-04-30,169.115540,21.950750,70.231445,27.588699,494.210327,183.279999
2024-05-31,191.138153,23.096506,74.775757,26.696661,519.207336,178.080002
2024-06-30,209.401932,23.994013,77.552681,26.791327,537.525024,197.880005
2024-07-31,220.795654,26.810661,66.492882,32.660805,544.033997,232.070007
2024-08-31,227.939163,28.534407,61.397671,31.414518,556.745667,214.110001
2024-09-30,231.920639,25.610758,58.664383,22.582169,568.439941,261.630005
2024-10-31,224.863480,26.735979,51.971199,25.456263,563.367371,249.850006
2024-11-30,236.490479,23.985445,51.748482,26.003939,596.962891,345.160004
2024-12-31,249.534180,22.196632,52.704079,21.999622,582.599915,403.839996
2025-01-31,235.165192,29.053738,53.250137,23.167147,598.246399,404.600006
2025-02-28,241.249481,28.342062,55.211422,23.586615,590.651794,292.980011
2025-03-31,221.587616,36.474598,49.759174,21.987522,557.741150,259.160004
2025-04-30,211.981125,41.426971,48.715961,20.885710,552.905457,282.160004
2025-05-31,200.622314,43.170788,60.800472,21.405313,587.652771,346.459991
2025-06-30,204.937408,44.905109,74.679268,22.678967,617.849976,317.660004
2025-07-31,207.334702,45.575188,76.040329,20.852407,632.080017,308.269989
2025-08-31,232.139999,56.660000,79.680000,23.639999,645.049988,333.869995

In [131]:
monthly_last.to_csv("historical_prices.tsv", sep='\t', index_label="date")

Submit "historical_prices.tsv" in Gradescope.

## Part 2: Calculate Historical Asset Returns

Calculate the historical asset returns based on the price data that you previously collected.

In [132]:
# YOUR CHANGES HERE

prices = pd.read_csv("historical_prices.tsv", sep="\t", index_col="date", parse_dates=True)

#monthly returns: (P_t - P_{t-1}) / P_{t-1}
returns = prices.pct_change()

print("Historical Returns:")
print(returns.head())

Historical Returns:
                AAPL        AU      SIMO      SIRI       SPY      TSLA
date
2023-09-30       NaN       NaN       NaN       NaN       NaN       NaN
2023-10-31 -0.002570  0.129114  0.045463 -0.053097 -0.021709 -0.197346
2023-11-30  0.113780  0.079036  0.106852  0.099455  0.091344  0.195379
2023-12-31  0.013583 -0.029091  0.042007  0.168803  0.045655  0.034988
2024-01-31 -0.042227 -0.057250  0.027909 -0.069470  0.015926 -0.246257

In [133]:
# Drop the first row (since all NaN)
returns = returns.dropna()

print("Monthly Returns:")
print(returns.head())

Monthly Returns:
                AAPL        AU      SIMO      SIRI       SPY      TSLA
date
2023-10-31 -0.002570  0.129114  0.045463 -0.053097 -0.021709 -0.197346
2023-11-30  0.113780  0.079036  0.106852  0.099455  0.091344  0.195379
2023-12-31  0.013583 -0.029091  0.042007  0.168803  0.045655  0.034988
2024-01-31 -0.042227 -0.057250  0.027909 -0.069470  0.015926 -0.246257
2024-02-29 -0.018543  0.056186  0.132186 -0.126981  0.052187  0.077901

Save the data as a TSV file named "historical_returns.tsv" and include a header row with the column names "date" and the 6 stock ticker symbols.
Each row should have the date at the end of the month and the corresponding *relative* price changes.
For example, if the previous price was \$100 and the new price is \$110, the return value should be 0.10.
There should only be 23 rows of data in this file, since they are computed as the differences of 24 prices.

In [134]:
# YOUR CHANGES HERE
returns.to_csv("historical_returns.tsv", sep="\t", index_label="date")

Submit "historical_returns.tsv" in Gradescope.

## Part 3: Estimate Returns

Estimate the expected returns for each asset using the previously calculated return data.
Just compute the average (mean) return for each asset over your data set; do not use other estimators that have been mentioned.
This will serve as your estimate of expected return for each asset.

In [135]:
# YOUR CHANGES HERE


returns = pd.read_csv("historical_returns.tsv", sep="\t", parse_dates=["date"])
returns.set_index("date", inplace=True)

estimated_returns = returns.mean()

print(estimated_returns)

AAPL    0.015442
AU      0.065704
SIMO    0.026464
SIRI   -0.016920
SPY     0.019666
TSLA    0.025313
dtype: float64

Save the estimated returns in a TSV file named "estimated_returns.tsv" and include a header row with the column names "asset" and "estimated_return".

In [136]:
# YOUR CHANGES HERE

estimated_returns_df = estimated_returns.reset_index()
estimated_returns_df.columns = ["asset", "estimated_return"]

estimated_returns_df.to_csv("estimated_returns.tsv", sep="\t", index=False)

Submit "estimated_returns.tsv" in Gradescope.

## Part 4: Estimate Risk

Estimate the covariance matrix for the asset returns to understand how the assets move together.

In [137]:
# YOUR CHANGES HERE

returns = pd.read_csv("historical_returns.tsv", sep="\t", parse_dates=["date"])
returns.set_index("date", inplace=True)

cov_matrix = returns.cov()

print(cov_matrix)

          AAPL        AU      SIMO      SIRI       SPY      TSLA
AAPL  0.003627 -0.001739  0.000341  0.001986  0.000832  0.003255
AU   -0.001739  0.013089 -0.000890  0.003348 -0.000797 -0.004686
SIMO  0.000341 -0.000890  0.009166  0.000207  0.002055  0.000416
SIRI  0.001986  0.003348  0.000207  0.015359  0.001489  0.001230
SPY   0.000832 -0.000797  0.002055  0.001489  0.001292  0.002421
TSLA  0.003255 -0.004686  0.000416  0.001230  0.002421  0.026703

Save the estimated covariances to a TSV file named "estimated_covariance.tsv".
The header row should have a blank column name followed by the names of the assets.
Each data row should start with the name of an asset for that row, and be followed by the individual covariances corresponding to that row and column's assets.
(This is the format of pandas's `to_csv` method with `sep="\t"` when used on a covariance matrix as computed in the examples.)

In [138]:
# YOUR CHANGES HERE

#A covariance matrix is a table (matrix) that shows how different variables move together 
      #how asset returns move together. In finance, each variable is the return of an asset, 
      # and the matrix tells us how risky each asset is (variance = diagonal entries)
      # How correlated different assets are (covariance = off-diagonal entries)

cov_matrix.to_csv("estimated_covariance.tsv", sep="\t", index=True)

Submit "estimated_covariance.tsv" in Gradescope.

## Part 5: Construct the Maximum Return Portfolio

Compute the maximum return portfolio based on your previously estimated risks and returns.

In [139]:
# YOUR CHANGES HERE

expected_returns = pd.read_csv("estimated_returns.tsv", sep="\t")

max_return_row = expected_returns.loc[expected_returns['estimated_return'].idxmax()]
best_asset = max_return_row['asset']
best_return = max_return_row['estimated_return']

max_return_portfolio = pd.DataFrame({
    'asset': expected_returns['asset'],
    'allocation': [1.0 if asset == best_asset else 0.0 for asset in expected_returns['asset']]
})

print(max_return_portfolio)

  asset  allocation
0  AAPL         0.0
1    AU         1.0
2  SIMO         0.0
3  SIRI         0.0
4   SPY         0.0
5  TSLA         0.0

Save the maximum return portfolio in a TSV file named "maximum_return.tsv".
The header row should have two columns, "asset" and "allocation".
The allocation values should sum up to one.

In [140]:
# YOUR CHANGES HERE

max_return_portfolio.to_csv("maximum_return.tsv", sep="\t", index=False)

Submit "maximum_return.tsv" in Gradescope.

## Part 6: Construct the Minimum Risk Portfolio

Compute the minimum return portfolio based on your previously estimated risks and returns.

In [141]:
# YOUR CHANGES HERE

import cvxpy as cp

expected_returns = pd.read_csv("estimated_returns.tsv", sep="\t")
cov_matrix = pd.read_csv("estimated_covariance.tsv", sep="\t", index_col=0)

assets = expected_returns['asset'].values
n_assets = len(assets)

weights = cp.Variable(n_assets)

portfolio_variance = cp.quad_form(weights, cov_matrix.values)
objective = cp.Minimize(portfolio_variance)

constraints = [
    cp.sum(weights) == 1,
    weights >= 0
]

problem = cp.Problem(objective, constraints)
problem.solve()

min_risk_portfolio = pd.DataFrame({
    'asset': assets,
    'allocation': weights.value
})

min_risk_portfolio

  asset    allocation
0  AAPL  1.614730e-01
1    AU  1.356582e-01
2  SIMO -6.365512e-20
3  SIRI -3.117230e-21
4   SPY  7.028687e-01
5  TSLA -2.424878e-20

Save the minimum risk portfolio in a TSV file named "minimum_risk.tsv".
The header row should have two columns, "asset" and "allocation".
The allocation values should sum up to one.

In [142]:
# YOUR CHANGES HERE

min_risk_portfolio.to_csv("minimum_risk.tsv", sep="\t", index=False)

Submit "minimum_risk.tsv" in Gradescope.

## Part 7: Build Efficient Frontier Portfolios

Compute 101 portfolios along the mean-variance efficient frontier with evenly spaced estimated returns.
The first portfolio should be the minimum risk portfolio from part 4, and the last portfolio should be the maximum return portfolio from part 3.
The estimated return of each portfolio should be higher than the previous by one percent of the difference between the first and last portfolios.
That is, the estimated return of the portfolios should be similar to `np.linspace(min_risk_return, max_return, 101)`.

In [143]:
!pip install cvxpy

Requirement already satisfied: cvxpy in /usr/local/python/3.12.1/lib/python3.12/site-packages (1.7.2)
Requirement already satisfied: osqp>=0.6.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from cvxpy) (1.0.4)
Requirement already satisfied: clarabel>=0.5.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from cvxpy) (0.11.1)
Requirement already satisfied: scs>=3.2.4.post1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from cvxpy) (3.2.8)
Requirement already satisfied: numpy>=1.22.4 in /home/codespace/.local/lib/python3.12/site-packages (from cvxpy) (2.3.1)
Requirement already satisfied: scipy>=1.13.0 in /home/codespace/.local/lib/python3.12/site-packages (from cvxpy) (1.16.0)
Requirement already satisfied: cffi in /home/codespace/.local/lib/python3.12/site-packages (from clarabel>=0.5.0->cvxpy) (1.17.1)
Requirement already satisfied: jinja2 in /home/codespace/.local/lib/python3.12/site-packages (from osqp>=0.6.2->cvxpy) (3.1.6)
Requirement already satisfied: setuptools in /home/codespace/.local/lib/python3.12/site-packages (from osqp>=0.6.2->cvxpy) (80.9.0)
Requirement already satisfied: joblib in /home/codespace/.local/lib/python3.12/site-packages (from osqp>=0.6.2->cvxpy) (1.5.1)
Requirement already satisfied: pycparser in /home/codespace/.local/lib/python3.12/site-packages (from cffi->clarabel>=0.5.0->cvxpy) (2.22)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.12/site-packages (from jinja2->osqp>=0.6.2->cvxpy) (3.0.2)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [144]:
# YOUR CHANGES HERE

import cvxpy as cp
import numpy as np

expected_returns = pd.read_csv("estimated_returns.tsv", sep="\t")
cov_matrix = pd.read_csv("estimated_covariance.tsv", sep="\t", index_col=0)

mu = expected_returns['estimated_return'].values
assets = expected_returns['asset'].values
Sigma = cov_matrix.loc[assets, assets].values  
n = len(mu)

w = cp.Variable(n)
objective = cp.quad_form(w, Sigma)
constraints = [cp.sum(w) == 1, w >= 0]
prob = cp.Problem(cp.Minimize(objective), constraints)
prob.solve()
w_min_var = w.value
min_risk_return = mu @ w_min_var

max_return = np.max(mu)

target_returns = np.linspace(min_risk_return, max_return, 101)

results = []

for idx, r_target in enumerate(target_returns):
    w = cp.Variable(n)
    objective = cp.quad_form(w, Sigma)
    constraints = [
        cp.sum(w) == 1,
        mu @ w == r_target,
        w >= 0
    ]
    prob = cp.Problem(cp.Minimize(objective), constraints)
    prob.solve()

    if w.value is not None:
        weights = w.value
        port_return = mu @ weights
        port_variance = weights.T @ Sigma @ weights
        port_risk = np.sqrt(port_variance)
        results.append([idx, port_return, port_risk] + list(weights))
    else:
        print(f"Optimization failed at index {idx}, target return {r_target:.4f}")
        results.append([idx, np.nan, np.nan] + [np.nan]*n)

columns = ['index', 'return', 'risk'] + list(assets)
df = pd.DataFrame(results, columns=columns)

In [145]:
df

,index,return,risk,AAPL,AU,SIMO,SIRI,SPY,TSLA
0,0,0.025230,0.030571,1.614730e-01,0.135658,-5.692257e-20,-1.889356e-20,7.028687e-01,-1.410775e-20
1,1,0.025634,0.030591,1.588531e-01,0.144209,-5.647717e-20,-1.874356e-20,6.969375e-01,-1.399873e-20
2,2,0.026039,0.030650,1.562331e-01,0.152761,-5.603048e-20,-1.859321e-20,6.910064e-01,-1.388802e-20
3,3,0.026444,0.030749,1.536131e-01,0.161312,-5.558770e-20,-1.844937e-20,6.850752e-01,-1.377742e-20
4,4,0.026849,0.030887,1.509931e-01,0.169863,-5.514058e-20,-1.830403e-20,6.791440e-01,-1.366541e-20
...,...,...,...,...,...,...,...,...,...
96,96,0.064085,0.108366,-7.999529e-24,0.959918,-6.390031e-24,-1.045041e-23,-7.443651e-24,4.008236e-02
97,97,0.064490,0.109840,-1.591387e-23,0.969938,-1.252407e-23,-3.273353e-23,-1.265272e-23,3.006177e-02
98,98,0.064895,0.111339,-1.454808e-23,0.979959,-8.178602e-24,-3.658702e-23,-1.449333e-23,2.004118e-02
99,99,0.065299,0.112862,-1.676444e-23,0.989979,-8.408834e-24,-2.964864e-23,-1.501155e-23,1.002059e-02
100,100,0.065704,0.114408,4.242949e-10,1.000000,3.042481e-10,-2.037941e-09,3.015732e-09,6.599547e-11

Save the portfolios in a TSV file named "efficient_frontier.tsv".
The header row should have columns "index", "return", "risk", and all the asset tickers.
Each data row should have the portfolio index (0-100), the estimated return of the portfolio, the estimated standard deviation (not variance) of the portfolio, and all the asset allocations (which should sum to one).

In [146]:
# YOUR CHANGES HERE

df.to_csv("efficient_frontier.tsv", sep="\t", index=False)

Submit "efficient_frontier.tsv" in Gradescope.

## Part 8: Check Maximum Return Portfolio Stability

Check the stability of the maximum return portfolio by resampling the estimated risk/return model.

Repeat 1000 times -
1. Use `np.random.multivariate_normal` to generate 23 return samples using your previously estimated risks and returns.
2. Estimate the return of each asset using that resampled return history.
3. Check which asset had the highest return in those resampled estimates.

This procedure is a reduced and simplified version of the Michaud resampled efficient frontier procedure that takes uncertainty in the risk model into account.

In [147]:
# YOUR CHANGES HERE

from collections import Counter

expected_returns = pd.read_csv("estimated_returns.tsv", sep="\t")
cov_matrix = pd.read_csv("estimated_covariance.tsv", sep="\t", index_col=0)

mu = expected_returns['estimated_return'].values
assets = expected_returns['asset'].values
Sigma = cov_matrix.loc[assets, assets].values  

n_simulations = 1000
n_samples = 23  

max_return_assets = []

for _ in range(n_simulations):
    simulated_returns = np.random.multivariate_normal(mu, Sigma, size=n_samples)

    estimated_mu_sim = simulated_returns.mean(axis=0)

    best_asset_idx = np.argmax(estimated_mu_sim)
    best_asset = assets[best_asset_idx]
    max_return_assets.append(best_asset)

asset_counts = Counter(max_return_assets)

stability_df = pd.DataFrame({
    'asset': list(asset_counts.keys()),
    'times_best': list(asset_counts.values())
})

stability_df['percentage'] = 100 * stability_df['times_best'] / n_simulations

stability_df = stability_df.sort_values(by='times_best', ascending=False).reset_index(drop=True)

stability_df

  asset  times_best  percentage
0    AU         760        76.0
1  TSLA         163        16.3
2  SIMO          60         6.0
3  AAPL          12         1.2
4   SPY           4         0.4
5  SIRI           1         0.1

In [148]:

probability_df = pd.DataFrame({
    'asset': list(asset_counts.keys()),
    'probability': [count / n_simulations for count in asset_counts.values()]
})
probability_df

  asset  probability
0    AU        0.760
1  TSLA        0.163
2  AAPL        0.012
3  SIMO        0.060
4   SPY        0.004
5  SIRI        0.001

Save a file "max_return_probabilities.tsv" with the distribution of highest return assets.
The header row should have columns "asset" and "probability".
There should be a data row for each asset and its sample probability of having the highest return based on those 1000 resampled estimates.

In [149]:
# YOUR CHANGES HERE

probability_df.to_csv("max_return_probabilities.tsv", sep="\t", index=False)

Submit "max_return_probabilities.tsv" in Gradescope.

## Part 9: Acknowledgments

Make a file "acknowledgments.txt" documenting any outside sources or help on this project.
If you discussed this assignment with anyone, please acknowledge them here.
If you used any libraries not mentioned in this module's content, please list them with a brief explanation what you used them for.
If you used any generative AI tools, please add links to your transcripts below, and any other information that you feel is necessary to comply with the generative AI policy.
If no acknowledgements are appropriate, just write none in the file.

Submit "acknowledgements.txt" in Gradescope.

In [150]:
acknowledgements = [
['1. https://blog.quantinsti.com/portfolio-optimization-methods/', 
 'To learn more about Python and how CVXPY and portfolio optimization works'],
['2. https://github.com/tthustla/efficient_frontier/blob/master/Efficient%20_Frontier_implementation.ipynb',
 'To learn more about how Modern Portfolio Theory, what it means and how it is implemented into python'],
['3. https://github.com/cvxgrp/cvxportfolio/tree/master/cvxportfolio', 'To look at specific examples of the cvxpy and how risks, returns and specific stocks were calculated for more information']
]


columns = ['Source', 'Used For/Reason']

ack_df = pd.DataFrame(acknowledgements, columns=columns)

ack_df

,Source,Used For/Reason
0,1. https://blog.quantinsti.com/portfolio-optim...,To learn more about Python and how CVXPY and p...
1,2. https://github.com/tthustla/efficient_front...,To learn more about how Modern Portfolio Theor...
2,3. https://github.com/cvxgrp/cvxportfolio/tree...,To look at specific examples of the cvxpy and ...

In [151]:
# YOUR CHANGES HERE

ack_df.to_csv("acknowledgements.txt", sep="\t", index=False)

## Part 10: Code

Please submit a Jupyter notebook that can reproduce all your calculations and recreate the previously submitted files.
You do not need to provide code for data collection if you did that by manually.

Submit "project.ipynb" in Gradescope.